<h1>Posts</h1>
<% @posts.each do |post| %>

<div class="row post-body">
    <div class="col-md-6 post-image">
        <img src="<%= @pics.find(post.pic_id).url %>" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-6">
      <%= link_to post.title, post %> by <%= post.user %> <br>
       <%= post.text %>
    </div>
</div>
<% end %>